.navbar {
  background-color: #0b101a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #1f2733;
}

.logo {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
}

.right-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: white;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
}

.account {
  font-size: 0.95rem;
  color: #ccc;
}
